{% extends "base.twig" %}

{% block title %}Login -
	{{ parent() }}
{% endblock %}

{% block content %}
	<h2>Login</h2>
	{% if error %}
		<p style="color: red;">{{ error }}</p>
	{% endif %}
	<form action="/admin/login" method="post">
		<label for="username">Username:</label>
		<input type="text" id="username" name="username"><br><br>
		<label for="password">Password:</label>
		<input type="password" id="password" name="password"><br><br>
		<input type="submit" value="Login">
	</form>

{% endblock %}
