<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>
			{% block title %}Dashboard
			{% endblock %}
		</title>
		<style>
			body {
				background: silver;
			}

			ul {
				list-style: none;
			}
		</style>
		<body>
			<ul>
				<li>
					<a href="/admin/logout">Wyloguj</a>
				</li>
				<li>
					<a href="/admin/menu/create">Dodaj menu</a>
				</li>
				<li>
					<a href="/admin/menu">Menu</a>
				</li>
			</ul>
			<main>
				{% block content %}{% endblock %}
			</main>
		</body>
	</head>
</html>
