<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>
			{% block title %}Dashboard
			{% endblock %}
		</title>
		<link rel="stylesheet" href="/static/admin/css/style.css">
		<body>
		<h1>to jest admin/base.twig</h1>
			<ul>
				<li>
					<a href="/admin/logout">Wyloguj</a>
				</li>
				<li>
					<a href="/admin/menu/create">Dodaj menu</a>
				</li>
				<li>
					<a href="/admin/menu">Menu</a>
				</li>
			</ul>
			<main>
				{% block content %}{% endblock %}
			</main>
			<script src="/static/admin/js/scripts.js"></script>
		</body>
	</head>
</html>
