{% extends "base.twig" %}

{% block title %}About -
	{{ parent() }}
{% endblock %}

{% block content %}
	<h2>About Me</h2>
	<h1>Informacje o stronie</h1>
	<table>
		<thead>
			<tr>
				<th>ID</th>
				<th>O stronie</th>
				<th>Treść</th>
			</tr>
		</thead>
		<tbody>
			{% for row in data %}
				<tr>
					<td>{{ row.id }}</td>
					<td>{{ row.about }}</td>
					<td>{{ row.content }}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

{% endblock %}
