<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>
			{% block title %}{% endblock %}
		</title>
	</head>
	<body>
		<main>
			<menu>
				<a href="/admin">Admin</a>
				|
				<a href="/">Strona główna</a>
				|
				<a href="/admin/menu">Tylko po zalogowaniu</a>

			</menu>

			{% block content %}{% endblock %}
		</main>
	</body>
</html>
