<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>
			{% block title %}{% endblock %}
		</title>
		 <link rel="stylesheet" href="/static/front/css/style.css">
	</head>
	<body>
	<h1>front/base.twig</h1>
		<main>

	{% include 'menu.twig' %}


			{% block content %}{% endblock %}
		</main>
		<script src="/static/front/js/scripts.js"></script>
	</body>
</html>
