<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>
			{% block title %}{% endblock %}
		</title>
		 <link rel="stylesheet" href="/static/front/css/style.css">
	</head>
	<body>
	<h1>to jest front/base.twig</h1>
		<main>
			<menu>
				<a href="/admin">Admin</a>
				|
				<a href="/">Strona główna</a>
				|
				<a href="/admin/menu">Tylko po zalogowaniu</a>

			</menu>

			{% block content %}{% endblock %}
		</main>
		<script src="/static/front/js/scripts.js"></script>
	</body>
</html>
